[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/pack/plugins/opt/vimwiki"]
	path = vim/pack/plugins/opt/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "nvim/plugged/completion-nvim"]
	path = nvim/plugged/completion-nvim
	url = /home/dan/Projects/dotfiles/nvim/plugged/completion-nvim/
[submodule "nvim/plugged/diagnostic-nvim"]
	path = nvim/plugged/diagnostic-nvim
	url = /home/dan/Projects/dotfiles/nvim/plugged/diagnostic-nvim/
[submodule "nvim/plugged/nvim-lspconfig"]
	path = nvim/plugged/nvim-lspconfig
	url = /home/dan/Projects/dotfiles/nvim/plugged/nvim-lspconfig/
[submodule "nvim/plugged/nvim-treesitter"]
	path = nvim/plugged/nvim-treesitter
	url = /home/dan/Projects/dotfiles/nvim/plugged/nvim-treesitter/
